.achievement{
    position: relative;
}
.achievement{
    /* position: absolute;
    content:" ";
    background-color: #FF6500;
    width: 2px;
    height: 50px;
    margin-right: -15px; */
    border-right: 2px solid #ff6500;
    padding-right: 12px;
}
swiper-slide{
    background:none !important;
}
@media (max-width:768px) {
    .award-swiper swiper-slide{
    height: 500px !important;
}
}
/* .award-swiper swiper-slide{
    height: 500px !important;
} */