.history-year p{
    line-height: 24px;
}
@media (max-width:768px) {
    .information::before{
        content: " ";
        background-color: #FF6500;
        width:3px;
        height: 50px;
        right:0;
    }
    .frame{
        display: none;
    }
    
}